<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define DocFilesFillingProgrammUI_TargetDir=$(var.DocFilesFillingProgrammUI.TargetDir)?>
  <Product Id="*" Name="Document filling programm" Language="1033" Version="1.0.0.0" Manufacturer="Justus" UpgradeCode="cd7c6e96-5da6-42c0-a1b8-4dc5884efa4c">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Document filling programm" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Document filling programm" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
      <Component Id="DocFilesFillingProgrammLogick.dll" Guid="779c1b69-2817-43ae-aac2-fd68a3f538c6">
        <File Id="DocFilesFillingProgrammLogick.dll" Name="DocFilesFillingProgrammLogick.dll" Source="$(var.DocFilesFillingProgrammUI_TargetDir)DocFilesFillingProgrammLogick.dll" />
      </Component>
      <Component Id="DocFilesFillingProgrammUI.exe" Guid="c7787118-9455-4cdb-b1b8-3371693a2244">
        <File Id="DocFilesFillingProgrammUI.exe" Name="application.exe" Source="$(var.DocFilesFillingProgrammUI_TargetDir)DocFilesFillingProgrammUI.exe" />
      </Component>
      <Component Id="DocFilesFillingProgrammUI.exe.config" Guid="7722d2da-9d2d-4f1c-a031-f60b5e8f227e">
        <File Id="DocFilesFillingProgrammUI.exe.config" Name="applicationConfig.config" Source="$(var.DocFilesFillingProgrammUI_TargetDir)DocFilesFillingProgrammUI.exe.config" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
