<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <settings>
    <add key="maleTemplate" value="\Templates\femaleTemplate.docx"/>
    <add key="femaleTemplate" value="\Templates\maleTemplate.docx"/>
    <add key="excelStorage" value="\Storage\excelStorage.xlsx"/>
  </settings>
</configuration>